
root {
    display: block;
}

.root {
    -fx-background-image: url("../images/morainelake.jpg");
    -fx-background-size: cover;
}

#vboxLogin {
    -fx-background-color:  #2f2f2fa3;
    -fx-background-radius: 10px;
}

/*
set the prompt text property #a0a0a0
*/

.text-field {
    -fx-prompt-text-fill: #a0a0a0;
    -fx-text-inner-color: #fff;
    -fx-background-color: Transparent;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
}

.text-field:focused {
    -fx-prompt-text-fill: #a0a0a0;
}
/*#ff6e18*/
#btnLogin {
    -fx-background-color: #ff964f;
    -fx-text-fill: white;
}

#btnLogin:focused,
#btnLogin:hover {
    -fx-background-color: #ff6e18;
}

.textError {
    -fx-border-color: red !important;
    -fx-border-width: 0px 0px 2px 0px !important;
    -fx-background-color:transparent !important;
}


